*.o
*.so
libgomod.so.*
*.output
*.swp
test-*
core
config-bison.[ch]
args-bison.[ch]
args-flex.c
config-flex.c
autoconf.h
autoconf.make
config.log
config.status
deps.make
configure
GOTRACE-CFLAGS
asciidoc.conf
etc/gotrace.d/gotrace.conf
gotrace
autom4te.cache/
backup/
test/
gomod_printlib.a
gomod_printlib.h
